*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.container_header{
    width: 100vw;
    height: 100vh;
    background-image: url("image/bg.png");
    background-size: cover;
    background-repeat: none;
    background-attachment: scroll;
}
.fs-4{
  color: white;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}
.nav-link{
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: white !important;
  transition: transform 0.6s ease !important;
}
.nav-link:hover{
  transform: scale(1.05)
}
.con-body-header{
  /* width: 100VW;
  height: auto; */
  display:flex;
  flex-direction: row;
}
.con-txt{
  width: 50%;
  height: 600px;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  row-gap: 1rem;
}
.name{
  color: white;
  font-size: 3rem ;
  font-weight: 600;
}
.position{
  color: white;
  font-size: 1rem ;
  font-weight: 300;
}
.con-img{
  width: 50%;
  height: 700px;
  display: flex;
}
section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.illustration {
  display: block;
  position: relative;
  width: auto;
  height: 90%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.hover {
  width: 100%;
  height: 100%;
  animation: hover 5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.number-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-10 3380ms ease-in-out infinite;
  animation-fill-mode: forwards;
}

.number-two {
  transform: translateY(-20px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-20 4548ms ease-in-out infinite;
  animation-delay: 3717ms;
  animation-fill-mode: forwards;
}

.number-three {
  transform: translateY(-30px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-30 3235ms ease-in-out infinite;
  animation-delay: 4986ms;
  animation-fill-mode: forwards;
}

.number-four {
  transform: translateY(-50px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-50 2683ms ease-in-out infinite;
  animation-delay: 2570ms;
  animation-fill-mode: forwards;
}

.number-five {
  transform: translateY(-60px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-60 5623ms ease-in-out infinite;
  animation-delay: 320ms;
  animation-fill-mode: forwards;
}

.number-six {
  transform: translateY(-70px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-70 3421ms ease-in-out infinite;
  animation-delay: 2679ms;
  animation-fill-mode: forwards;
}

.number-seven {
  transform: translateY(-80px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-80 3656ms ease-in-out infinite;
  animation-delay: 2364ms;
  animation-fill-mode: forwards;
}

.number-eight {
  transform: translateY(-90px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-90 3593ms ease-in-out infinite;
  animation-delay: 5569ms;
  animation-fill-mode: forwards;
}

.number-nine {
  transform: translateY(-100px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-100 2840ms ease-in-out infinite;
  animation-delay: 3318ms;
  animation-fill-mode: forwards;
}

.number-ten {
  transform: translateY(-110px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-110 5068ms ease-in-out infinite;
  animation-delay: 1109ms;
  animation-fill-mode: forwards;
}

.number-eleven {
  transform: translateY(-120px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-120 4170ms ease-in-out infinite;
  animation-delay: 4701ms;
  animation-fill-mode: forwards;
}

.number-twelve {
  transform: translateY(-150px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-150 5485ms ease-in-out infinite;
  animation-delay: 3110ms;
  animation-fill-mode: forwards;
}

.number-thirteen {
  transform: translateY(-160px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-160 4797ms ease-in-out infinite;
  animation-delay: 3537ms;
  animation-fill-mode: forwards;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}

/*# sourceMappingURL=floding_SVG.css.map */
